<h1>Account</h1>

<p>
  <strong>Email</strong><br/>
  <div class="card card-body bg-light">
    <%= @user.email %>
  </div>
</p>


<p>
  <strong>Access Token</strong><br/>
  <div class="card card-body bg-light">
    <%= @user.access_token %>
  </div>
</p>
