@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

main > .container {
  padding: 10px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.octicon {
  fill: currentColor;
}

.logo{
  color: #fff;
}
