@import "bootstrap";

main > .container {
  padding: 10px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.octicon {
  fill: currentColor;
}

.logo{
  color: #fff;
}
